* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan';
}

body {
  background-color: #070724;
  color: #ffffff;
  position: relative;
}

.planet--image {
  width: 150px;
  height: 150px;
  margin-bottom: 50px;
  margin-top: 15px;
}

.planet--image-geology {
  height: 100px;
  position: absolute;
  top: 230px;
}

/* REMOVE PADDING FROM MUI DEFAULT DRAWER STYLING */
.css-h4y409-MuiList-root {
  padding: 0 !important;
}

/* FONT COLOR FOR THE TAB ELEMENT */
.MuiButtonBase-root {
  color: #ffffff !important;
}

/* MEDIA QUERIES FOR IMAGE STYLING & POSITIONING */
@media only screen and (max-width: 600px) {
  .MuiDrawer-root {
    padding: 0 !important;
  }
}

@media only screen and (min-width: 900px) {
  .planet--image {
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
  }

  .planet--image-geology {
    height: 150px;
    top: 215px;
  }
}

@media only screen and (min-width: 1200px) {
  .planet--image {
    width: 425px;
    height: 425px;
    position: absolute;
    top: 180px;
  }

  .planet--image-geology {
    height: 200px;
    top: 450px;
  }
}
